
<div class="jumbotron">
<div class="container-fluid">
<div class="row">
    <%= simple_form_for @mniam, html: { multipart: true } do |f| %>
      <%= render 'shared/errors', :object => @mniam%>
    <div class="col-md-6">
        <%= f.input :avatar, input_html: {class: 'form-control'}%>
    </div>
    <div class="col-md-3">
    <div class="form-group">
      <%= f.label :difficulty %>
      <%= f.select :difficulty, [ "Easy", "Medium", "Hard" ], { :prompt => 'Select One' }, { class: "form-control", :id => "select" } %>
    </div>
    </div>
    <div class="col-md-3">
    <div class="form-group">
        <%= f.label :typ %>
        <%= f.select :typ, [ 'Dinner', 'Breakfast', 'Lunch', 'Snack', 'Diet', 'Dessert'], {:prompt => 'Select One'}, { class: "form-control", :id => "select" } %>
    </div>
    </div>

    <div class="col-md-6">
      <%= f.input :title, input_html: {class: 'form-control'} %>
    </div>

    <div class="col-md-3">
      <%= f.input :price, input_html: {class: 'form-control'}%>
    </div>

    <div class="col-md-3">
      <%= f.input :preparation_time, input_html: {class: 'form-control'}%>
    </div>
    
    <div class="col-md-6">
      <%= f.input :description, input_html: {rows: '1', class: 'form-control'} %>
    </div>

    <div class="col-md-6">
      <%= f.input :tag_list, input_html: {class: 'form-control'}%>
    </div>


  <div class="col-md-6">
    <h3>Ingredients</h3>
    <div id="ingredient">
      <%= f.simple_fields_for :ingredients do |i| %>
        <%= render 'ingredient_fields', f: i %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add ingredient', f, :ingredients, class: "btn btn-success add-button" %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h3>Directions</h3>
    <div id="direction">
      <%= f.simple_fields_for :directions do |i| %>
        <%= render 'direction_fields', f: i %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add direction', f, :directions, class: "btn btn-success add-button" %>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <br>
  </div>
  <div class="col-md-12">
    <%= link_to "Back", :back, class: "btn btn-default" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
</div>
</div>
</div>
</div>