
<%= simple_form_for @mniam, html: { multipart: true } do |f| %>
  <%= render 'shared/errors', :object => @mniam%>
  <%= f.input :avatar, input_html: {class: 'form-control'}%>
  <%= f.input :title, input_html: {class: 'form-control'} %>
  <%= f.input :description, input_html: {class: 'form-control'} %>
  <%= f.input :tag_list, input_html: {class: 'form-control'}%>
  <%= f.input :movie, input_html: {class: 'form-control'}%>
  <hr>
  <h3>Ingredients</h3>
  <div id="ingredient">
    <%= f.simple_fields_for :ingredients do |i| %>
      <%= render 'ingredient_fields', f: i %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add ingredient', f, :ingredients, class: "btn btn-default add-button" %>
    </div>
  </div>

  <h3>Directions</h3>
  <div id="direction">
    <%= f.simple_fields_for :directions do |i| %>
      <%= render 'direction_fields', f: i %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add direction', f, :directions, class: "btn btn-default add-button" %>
    </div>
  </div>
  <hr>
  <%= f.input :price, input_html: {class: 'form-control'}%>
  <%= f.input :difficulty, input_html: {class: 'form-control'}%>
  <%= f.input :preparation_time, input_html: {class: 'form-control'}%>


  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>