<% provide(:title, "Filtering") %>

<div class="transitions-enabled" id="mniams">
  <% @mniams.each do |f| %>
    <div class="box panel panel-default">
    <div class="hover13 column">
      <figure><%= link_to (image_tag f.avatar.url), f %></figure>
     </div>
      <h2>
        <a><%= link_to f.title, f %></a>
      </h2>
      <p class="user">
        <%= f.description %>
        <hr>
              <%= link_to filtering_mniams_path(f.typ) do %> <span class="label label-primary"><%= f.typ %></span> <% end%>
              <%= link_to filtering_mniams2_path(f.preparation_time) do %><span class="label label-primary"><%= f.preparation_time %> min <span class="glyphicon glyphicon-time" aria-hidden="true"></span></span> <% end %>
              <%= link_to filtering_mniams_path(f.price) do %><span class="label label-primary"><%= f.price %> <span class="glyphicon glyphicon-euro" aria-hidden="true"></span></span> <% end %>
              <%= link_to filtering_mniams_path(f.difficulty) do %><span class="label label-primary"><%= f.difficulty %> <span class="glyphicon glyphicon-stats" aria-hidden="true"></span></span> <% end%>
      </p>
    </div>
  <% end %>
</div>

