<% provide(:title, "Home") %>
<h4>Listing mniams (<%= @mniams.count %>)</h4>

<div id="tag_cloud">
  <% tag_cloud Mniam.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>



<hr>


<div id="wrapper">
	<div id="columns">
	<% @mniams.each do |f| %>
		<div class="pin">
			<%= link_to (image_tag f.avatar.url), f %>
			<p>
				<div class="panel-footer"><%= f.title %></div>
  				<div class="panel-body"><%= f.typ %></div>
			</p>
		</div>
	<% end %>
	</div>
</div>