<% provide(:title, "Home") %>
<h4>Listing mniams (<%= @mniams.count %>)</h4>

<div id="tag_cloud">
  <% tag_cloud Mniam.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>



<hr>
<% @mniams.each do |f| %>
	<%= f.title %>
	<%= f.description %>
	<%= link_to "Show", f, class: "btn btn-default" %>
	<br>
<% end %>

