<% provide(:title, "Home") %>
<h4>Listing mniams (<%= @mniams.count %>)</h4>

<div id="tag_cloud">
  <% tag_cloud Mniam.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>



<hr>

<section id="pinBoot">
	<div class="white-panel">
		<% @mniams.each do |f| %>
		<%= link_to (image_tag f.avatar.url), f, :class => "img" %>
				<h4>
					<a><%= f.title %></a>
				<h4>
				<p>
					<%= f.description %>
				</p>
		<% end %>
		<br>
	</div>
</section>