<% provide(:title, "Home") %>

<div class="transitions-enabled" id="mniams">
  <% @mniams.each do |f| %>
    <div class="box panel panel-default">
    <div class="hover13 column">
      <figure><%= link_to (image_tag f.avatar.url), f %></figure>
     </div>
      <h2>
        <a><%= link_to f.title, f %></a>
      </h2>
      <p class="user">
        <%= f.description %>
        <hr>
		<span class="label label-primary"><%= f.typ %></span>
		<span class="label label-primary"><%= f.preparation_time %> <span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
		<span class="label label-primary"><%= f.price %> <span class="glyphicon glyphicon-euro" aria-hidden="true"></span></span>
		<span class="label label-primary"><%= f.difficulty %> <span class="glyphicon glyphicon-stats" aria-hidden="true"></span></span>
      </p>
    </div>
  <% end %>
</div>

	<%= will_paginate @mniam %>



