<% provide(:title, "Filtering") %>

<%= render 'filter_form' %>

<h4>Filtering mniams (<%= @mniams.count %>)</h4>
<hr>
<% @mniams.each do |f| %>
	<%= f.title %>
	<%= f.description %>
	<%= link_to "Show", f, class: "btn btn-default" %>
	<br>
<% end %>
<hr>
<%= link_to "Back", root_path, class: "btn btn-default" %>