

<h1>Mniam</h1>

<%= @mniam.title %> 
<%= @mniam.description %> 

<hr>

<div class="row">
  <div class="col-md-6">
    <div id="ingredients">
      <h2>Ingredients</h2>
      <ul>
        <% @mniam.ingredients.each do |ingredient| %>
          <li>
            <%= ingredient.name %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div id="directions">
      <h2>Directions</h2>
      <ul>
        <% @mniam.directions.each do |direction| %>
          <li>
            <%= direction.step %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<hr>
  <p>Price: <%= @mniam.price %> Euro
  <br>
  Difficulty:  <%=@mniam.difficulty %>
  <br>
  Preparation time: <%=@mniam.preparation_time %> min
  <br>
  Type: <%=@mniam.typ %> </p>
