<h1>Mniam</h1>

<%= @mniam.title %> 
<%= @mniam.description %> 

<%= image_tag @mniam.avatar.url(:thumb) %>
<br>

<iframe width="560" height="315" src="<%= @mniam.movie %>" frameborder="0" allowfullscreen></iframe>

<hr>
<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_mniam_path(@mniam) %>
<%= link_to "Delete", mniam_path, method: :delete, data:{confirm: "Are you sure?"} %>

<br>
<h4>Comment: (<%= @comments.count %>)</h4>

<%= simple_form_for [@mniam, Comment.new] do |f| %>
  <%= f.input :box %>
  <%= f.button :submit %>
<% end %>

<% @comments.each do |f| %>
	<%= f.box %>
	<br>
<% end %>



