
<% provide(:title, @mniam.title) %>

<h1>Mniam</h1>

<%= @mniam.title %> 
<%= @mniam.description %> 
<p> Created at: <%= @mniam.user.email %> | <b>Score: (<%= @rank =%>)</b> | <%= link_to "Show", @mniam.user, class: "btn btn-default" %> | 
<% if user_signed_in? %>
  <%= link_to like_mniam_path(@mniam), method: :put do %>
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    <%= @mniam.get_upvotes.size %>
  <% end %>
<%end%>
</p>
<br>
<%= image_tag @mniam.avatar.url(:thumb) %>
<br>

<iframe width="560" height="315" src="<%= @mniam.movie %>" frameborder="0" allowfullscreen></iframe>

<hr>

<div class="row">
  <div class="col-md-6">
    <div id="ingredients">
      <h2>Ingredients</h2>
      <ul>
        <% @mniam.ingredients.each do |ingredient| %>
          <li>
            <%= ingredient.name %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div id="directions">
      <h2>Directions</h2>
      <ul>
        <% @mniam.directions.each do |direction| %>
          <li>
            <%= direction.step %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<hr>
  <p>Price: <%= @mniam.price %> Euro
  <br>
  Difficulty:  <%=@mniam.difficulty %>
  <br>
  Preparation time: <%=@mniam.preparation_time %> min
  <br>
  Type: <%=@mniam.typ %> </p>
<hr>
<%= link_to "Back", root_path, class: "btn btn-default" %>
<% if @mniam.user == current_user %>
  <%= link_to "Edit", edit_mniam_path(@mniam), class: "btn btn-default" %>
  <%= link_to "Delete", mniam_path, method: :delete, data:{confirm: "Are you sure?"}, class: "btn btn-default" %>
<%end%>
<hr>

<h3> Related Mniams: </h3>
<% @mniam.related(@mniam).each do |f| %>
  <%= f.title %>
  <%= f.description %>
  <%= link_to "Show", f, class: "btn btn-default" %>
<% end %>

<hr>
<h3>Favorited list: </h3>
<% if current_user %>
  <%= link_to "favorite",   favorite_mniam_path(@mniam, type: "favorite"), method: :put %>
<% end %>
<hr>
<p><%= render_shareable :buttons=> ['twitter', 'facebook', 'google_plus', 'pinterest']  %></p>
<hr>
<%= link_to "Create PDF document", show_path(@mniam, :format => :pdf) %>

<hr>

<h4><b>Comments: (<%= @comments.count %>)</b></h4>
Add a comment!
<%= form_for @comment do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :parent_id %>
  <div class="form-group">
    
    <%= f.text_area :body, class: 'form-control', required: true %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
<hr>
<%= comments_tree_for @comments %>
