<% provide(:title, @mniam.title) %>

<div class="container-fluid">
<div class="row">

<div class="col-md-12">
  <%= image_tag('logo3.png') %>
</div> 

<div class="col-md-12">
  <p> Created at: <%= link_to @mniam.user.email,  @mniam.user%> | <b>Score: (<%= @rank =%>)</b> |
  <% if user_signed_in? %>
    <%= link_to like_mniam_path(@mniam), method: :put do %>
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      <%= @mniam.get_upvotes.size %>
    <% end %>
  <%end%> |
  <span class="label label-success"><%= @mniam.typ %></span> |
    <span class="label label-success"><%= @mniam.preparation_time %> min <span class="glyphicon glyphicon-time" aria-hidden="true"></span></span> |
    <span class="label label-success"><%= @mniam.price %> <span class="glyphicon glyphicon-euro" aria-hidden="true"></span></span> |
    <span class="label label-success">Lvl <%= @mniam.difficulty %> <span class="glyphicon glyphicon-stats" aria-hidden="true"></span></span> 
  </div>
  <div class="col-md-12">
  </p>
</div>

<div class="col-md-6">
  <%= image_tag @mniam.avatar.url, class: "img_show" %>
</div>

<div class="panel panel-default">
  <div class="panel-body">
<div class="col-md-6">
  <h2><%= @mniam.title %></h2>
  <br>
  <p><%= @mniam.description %></p>
</div>

  <div class="col-md-6">
    <div id="ingredients">
      <h2>Ingredients</h2>
      <ul>
        <% @mniam.ingredients.each do |ingredient| %>
          <li>
            <%= ingredient.name %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

<div class="col-md-12">
<br>
</div>

<div class="col-md-6">
w
</div>
  <div class="col-md-6">
    <div id="directions">
      <h2>Directions</h2>
      <ul>
        <% @mniam.directions.each do |direction| %>
          <li>
            <%= direction.step %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
</div>

<div class="col-md-12">
<hr>
  <%= link_to "Back", :back, class: "btn btn-default" %>
  <% if @mniam.user == current_user %>
    <%= link_to "Edit", edit_mniam_path(@mniam), class: "btn btn-default" %>
    <%= link_to "Delete", mniam_path, method: :delete, data:{confirm: "Are you sure?"}, class: "btn btn-default" %>
  <%end%> |
  <% if current_user %>
    <%= link_to "Favorite+", favorite_mniam_path(@mniam, type: "favorite"), method: :put, class: "btn btn-primary"%>
  <% end %>
  <%= link_to "Create PDF", show_path(@mniam, :format => :pdf), class: "btn btn-primary" %>
</div>
<hr>

<div class="col-md-12">
<h3> Related Mniams: </h3>
<% @mniam.related(@mniam).each do |f| %>
  <%= f.title %>
  <%= f.description %>
  <%= link_to "Show", f, class: "btn btn-default" %>
<% end %>

<hr>
</div>

<div class="col-md-12">
<h4><b>Comments: (<%= @mniam.comments.count %>)</b></h4>
Add a comment!
<%= form_for @comment do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :mniam_id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :parent_id %>
  <div class="form-group">
    
    <%= f.text_area :body, class: 'form-control', required: true %>
  </div>
  

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
<hr>
<%= comments_tree_for @comments %>
</div>
</div>
</p>

<!--<iframe width="560" height="315" src="<%= @mniam.movie %>" frameborder="0" allowfullscreen></iframe> -->
