<h1>Mniam</h1>

<%= @mniam.title %> 
<%= @mniam.description %> 
<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_mniam_path(@mniam) %>
<%= link_to "Delete", mniam_path, method: :delete, data:{confirm: "Are you sure?"} %>
