<h2>The BEST meal for Week!</h2>

<hr>
<% @mniams.each_with_index do |f, index| %>
	<%= index +=1 %>.
	<%= f.title %>
	<%= f.description %>
	<b>(<%= f.score(f) %>)</b>
	<%= link_to "Show", f, class: "btn btn-default" %>
	
	<br>
<% end %>
<hr>

<%= link_to "Back", root_path, class: "btn btn-default" %>