<% provide(:title, @user.email) %>
<hr>

<%= @user.email %>
<%= @user.name %>
<li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
<hr>

<% @mniams.each do |f| %>
	<%= f.title %>
	<%= f.description %>
	<%= link_to "Show", f, class: "btn btn-default" %>
	<br>
<% end %>

<hr>
<%= link_to "Back", users_path, class: "btn btn-default" %>
