<% provide(:title, @user.email) %>
<hr>

<%= @user.email %>
<%= @user.name %>
<%= image_tag @user.user_avatar.url(:medium) %>
<% if @user == current_user %>
	<li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
<% end %>
<hr>

<% @mniams.each do |f| %>
	<%= f.title %>
	<%= f.description %>
	<%= link_to "Show", f, class: "btn btn-default" %>
	<br>
<% end %>
<hr>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
<hr>
<%= render 'follow_form' if signed_in? %> 

<% if @user == current_user %>
<br>
  <%= link_to "Feed list", feed_list_path, class: "btn btn-default" %>
<% end %>
<hr>
<%= link_to "Back", users_path, class: "btn btn-default" %>
