 <% provide(:title, @title) %>

<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">


<div class="col-md-5">
  <%= (image_tag @user.user_avatar.url(:medium), class: "user_img") %>
</div>

<div class="col-md-7">
 <h1><%= @user.email %></h1>
 <span><%= link_to "view my profile", @user, class: "btn btn-primary" %></span>
</div>

<div class="col-md-12">
<br>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
<hr>
</div>

<div class="col-md-12">
<% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |f| %>
            <%= link_to (image_tag f.user_avatar.url(:medium), class: "img_related"),f  %>
          <% end %>
        </div>
      <% end %>
</div>
</div>
</div>
</div>