<div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
          <div class="col-md-4">
               <%= search_form_for @search do |f| %>
                <%= f.select :category_eq, [ 'Tip','Dinner', 'Breakfast', 'Lunch', 'Snack', 'Diet', 'Dessert'], {:prompt => 'Select One'},{ class: "form-control", :id => "select" } %>
          </div>
          <div class="col-md-6">      
              <%= f.submit "Search", class: "btn btn-primary" %> |
              <% end %>
              <%= link_to "Top", top_tips_path, class: "btn btn-primary" %>
              | <%= link_to "+", new_tip_path, class: "btn btn-primary" %>
          </div>
      </div>
    </div>
 </div>
