<!DOCTYPE html>
<html>
<head>
  <title><%= set_title_of_page(yield(:title)) %></title>
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha256-sHwgyDk4CGNYom267UJX364ewnY4Bh55d53pxP5WDug= sha512-mkkeSf+MM3dyMWg3k9hcAttl7IVHe2BA1o/5xKLl4kBaP0bih7Mzz/DBy4y6cNZCHtE2tPgYBYH/KtEjOQYKxA==" crossorigin="anonymous">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://masonry.desandro.com/jquery.masonry.min.js"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/navbar' %>
<div class="alert">
		<div class="col-md-10 col-md-offset-1">
			<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, class: "alert alert-info" %>
			<%end%>
		</div>
	</div>
<div class="body">

	<div class="container-fluid" >
		<div class="row">
	      	<div class="col-md-10 col-md-offset-1">
	      		<%= yield %>
			</div>
		</div>
	</div>
</div>

<%= render 'shared/footer' %>
</body>
</html>
